body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.md-margin-top {
    margin-top: 20px;
}

.md-margin-bottom {
    margin-bottom: 20px;
}

.pickadate[readonly], .pickatime[readonly] {
    background-color: transparent !important;
}

.navbar-inverse {
    background-color: #d8e8f7;
}

.navbar-inverse .navbar-header .icon-bar {
    background-color: #333;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
    color: #333;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover {
    color: #777;
}

.logo i {
    font-size: 24px;
    vertical-align: middle;
    top: -1px;
}

.fc-day:hover {
    background: #ededed;
    cursor: pointer;
}

.fc-slats, .fc-content-skeleton, .fc-bgevent-skeleton {
    pointer-events: none
}

.today-date, .fc-unthemed td.fc-day.fc-today {
    background-color: #d9edf7;
}

.fully-blocked-date, .fc-unthemed td.fc-today.fully-blocked-date {
    background-color: #f2dede;
}

.partially-blocked-date, .fc-unthemed td.fc-today.partially-blocked-date {
    background-color: #fcf8e3;
}

#calendar_legend {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

#calendar_legend li {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
}

#calendar_legend i {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: -3px;
    border: 1px solid #333;
}

#calendar_legend i.rounded {
    border-radius: 25px;
}
