body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.md-margin {
    margin-top: 20px;
}

.pickadate[readonly], .pickatime[readonly] {
    background-color: transparent !important;
}

.navbar-inverse {
    background-color: #d8e8f7;
}

.navbar-inverse .navbar-header .icon-bar {
    background-color: #333;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
    color: #333;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover {
    color: #777;
}

.logo i {
    font-size: 24px;
    vertical-align: middle;
    top: -1px;
}
